exercicio_1
exercicioHelloWorld
limparBufferdoTeclado
operadorsizeof
conversaoDeTipos
exercicio_2
exercicio_3
exercicio_4
exercicio_5
exercicio_6
exercicio_7
exercicio_1CC
exercicio_2CC
exercicio_3CC
exercicio_4CC
exercicio_5CC
exercicio_6CC
exercicio_7CC
exercicio_8CC
exercicio_9CC
exercicio_10CC
