exercicio_1
exercicioHelloWorld
limparBufferdoTeclado
operadorsizeof
conversaoDeTipos
exercicio_2
exercicio_3
exercicio_4
exercicio_5
exercicio_6
exercicio_7
exercicio_1ER
exercicio_2ER
exercicio_3ER
exercicio_5ER
exercicio_6ER
exercicio_7ER
exercicio_8ER
exercicio_9ER
exercicio_10ER
exercicio_11ER
exercicio_12ER
exercicio_13ER
exercicio_14ER
exercicio_15ER
exercicio_16ER
exercicio_17ER
exercicio_18ER
exercicio_19ER
exercicio_20ER
exercicio_21ER
exercicio_22ER
exercicio_23ER
exercicio_24ER
exercicio_25ER
exercicio_26ER
funcoesrandsrand
exercicio_1VM
exercicio_2VM
exercicio_3VM
exercicio_4VM
exercicio_5VM
exercicio_6VM
exercicio_7VM
exercicio_8VM
exercicio_9VM
exercicio_10VM
exercicio_11VM
exercicio_12VM
exercicio_13VM
exercicio_14VM
aleatorioSemRepeticao
quadradoMagico
jogoDaVelha
