exercicio_1
exercicioHelloWorld
limparBufferdoTeclado
operadorsizeof
conversaoDeTipos
exercicio_2
exercicio_3
exercicio_4
exercicio_5
exercicio_6
exercicio_7
exercicio_1ER
exercicio_2ER
exercicio_3ER
exercicio_5ER
exercicio_6ER
exercicio_7ER
exercicio_8ER
exercicio_9ER
exercicio_10ER
